body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 255); 
}
.common{
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
}
.nav{
    position: relative;
    float: right;
    background-color: rgb(58, 102, 223);
    
    z-index: 2;
    font-size: small;
}
.header{
    background-color: rgba(15, 220, 206);
    text-align: center;
    left: 0px;
    right: 0px;
    top: 0px;
    height: auto;
    z-index: 1;
}
.main{
    background-color: cadetblue;
    top: 82px;
    left: 0px;
    right: 0px;
    bottom: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.footer{
    position: fixed;
    text-align: center;
    font-style: italic;
    font-size: 40%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    background-color: rgb(55, 153, 114);
}
img{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: rgb(0, 255, 157);
}